.DS_Store

__pycache__/*.py[cod]

tools/misc/converted.parquet/part-00000-2d3c1782-35d4-44b9-972b-cd0103bff142-c000.snappy.parquet
tools/misc/converted.parquet/.part-00000-2d3c1782-35d4-44b9-972b-cd0103bff142-c000.snappy.parquet.crc
tools/misc/converted.parquet/._SUCCESS.crc
tools/misc/converted.parquet/_SUCCESS
*.parquet
*.txt
*.pyc
*.zip
launch.json
table_descriptions.json
!*_constraints.csv
!dictionary.json
!requirements.txt
!annotations.xlsx
!project_metadata.json
/input
metadata/input/*/*
example_output
output
override.csv
.venv


# Specifically ignore JSON files tha we might have laying around as we work on the JSON-HTML conversion:
tools/llmd/json2html/*.json
